{{ define "meta" }} {{ end }}

{{ define "styles" }}{{ end }}

{{ define "scripts" }}{{ end }}

{{ define "content" }}
<div class="flex items-center justify-center min-h-fit bg-base-200 text-base-content py-16 px-4">
    <div class="text-center">
        <h1 class="text-9xl font-bold text-primary">404</h1>
        <p class="text-2xl font-semibold mt-4">Oops! Page not found.</p>
        <p class="mt-2 mb-6">The page you're looking for doesn't exist or has been moved.</p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>
{{ end }}